{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 10px 0;">

        <!-- Ortada statistikalar -->
        <div style="flex: 1; text-align: center; background-color: #f5f5f5; padding-right: 190px; border-radius: 6px;">
            <span style="font-weight: 900; font-size: large; margin: 0 10px; color: black;">
                Barcha mahsulotlar: <span style="color: red;">{{ product_count }}</span>
            </span>
            <span style="font-weight: 900; font-size: large; margin: 0 10px; color: black;">
                Rasmi bor: <span style="color: red;">{{ product_with_image }}</span>
            </span>
            <span style="font-weight: 900; font-size: large; margin: 0 10px; color: black;">
                Rasmi yo‘q: <span style="color: red;">{{ product_without_image }}</span>
            </span>
        </div>

        <!-- O‘ng tomonda tugmalar -->
        <div style="display: flex; gap: 10px; margin-left: auto;">
            {{ block.super }}
            <a href="{% url 'admin:delete_product' %}" class="btn btn-danger">
                <i class="fas fa-trash"></i> Kategoriyasi yo'q <b>Mahsulotlarni</b> o'chirish
            </a>
        </div>
    </div>
{% endblock %}
